body {
    overflow-x: hidden;
    font-family: sans-serif;
    webkit-tap-highlight-color: #FE9854;
}

::-moz-selection {
    text-shadow: none;
    background: #FE9854
}

::selection {
    text-shadow: none;
    background: #FE9854
}

img::selection {
    background: 0 0
}

img::-moz-selection {
    background: 0 0
}

.main {
    margin-top: 100px !important;
    font-size: 20px !important;
}

.main .page-header {
    font-weight: bold;
    text-align: center;
}

.main .text-muted {
    padding-top: 20px;
    padding-bottom: 50px;
}

a, a.active, a:active, a:focus, a:hover {
    outline: 0
}

a.active, a:active, a:focus, a:hover {
    color: #FE7820
}
.text-primary, a {
    color: #FE9854
}

@media (min-width:996px) {
    .text-right-md {
        text-align: right;
    }
}

@media (max-width:520px) {
    .main {
        font-size: 14px !important;
    }
    .main h1 {
        font-size: 20px !important;
    }
}
